{% extends 'emails/base.html.twig' %}
{% import 'emails/_button.html.twig' as buttons %}

{% block subject %}Réinitialisation de votre mot de passe{% endblock %}

{% block content %}
    <h2 style="font-size: 16px;">Bonjour{% if profile.firstName %}, {{ profile.firstName }}{% endif %} !</h2>
    <p>Vous avez demandé à réinitialiser votre mot de passe Avis Campus. Cliquez sur le bouton ci-dessous pour en choisir un nouveau.</p>
    <p style="font-size: 13px; color: #6b7280;">Ce lien est valable pendant 1&nbsp;heure. Si vous n'êtes pas à l'origine de cette demande, ignorez cet email : votre mot de passe reste inchangé.</p>
{% endblock %}

{% block cta %}
    {{ buttons.cta(resetUrl, 'Réinitialiser mon mot de passe') }}
{% endblock %}
