{% extends 'base.html.twig' %}

{% block body %}
<body class="bg-gray-50 font-sans antialiased text-gray-900 flex h-screen overflow-hidden">
    {% include 'layout/partials/admin/sidebar.html.twig' %}
    <div class="flex-1 flex flex-col overflow-hidden">
        {% include 'layout/partials/admin/topbar.html.twig' %}
        <main class="flex-1 overflow-y-auto p-6">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
{% endblock %}
